.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid #21212166;
}
.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 6px;
}

.profile__column {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.profile__description {
  margin: 0;
  padding: 12px 0 0 0;
  color: #212121b2;
}

.profile__button-edit-profile {
  border: none;
  height: 16px;
  width: 107.34px;
  margin-top: auto;
  padding: 0;
  background-color: #fcf5e5;
  display: flex;
  gap: 8px;
  opacity: 0.4;
}

.profile__button-edit-profile:hover {
  opacity: 1;
}
.profile_edit-icon {
  width: 23.34px;
  height: 16px;
  opacity: 0.4;
}

.profile__button-new-post {
  margin-top: auto;
  margin-left: auto;
  width: 149px;
  height: 52px;
  padding: 0;
  background-color: black;
  color: #fcf5e5;
  gap: 8px;
  border-radius: 8px;
}

.profile__new-post-icon {
  height: 12px;
  width: 12px;
}

.profile__button-new-post:hover {
  opacity: 0.4;
}
